<nav id="mainNav">
		<div class="inner">
			<a class="menu" id="menu"><span>MENU</span></a>
			<div class="panel">
				<ul>
					<li class="current-menu-item"><a href="index.html"><strong>トップページ</strong><span>Top</span></a></li>
					<li>
						<a href="sample.html"><strong>妊娠期情報</strong><span>Greeting</span></a>
						<ul class="sub-menu">
							<li><a href="sample.html">妊婦さん向けのレシピ</a></li>
							<li><a href="sample.html">ママのためのQ＆A～妊娠期～</a></li>
						</ul>
          <li>
            <a href="sample.html"><strong>授乳期情報</strong><span>pregnancy period</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">授乳のはなし</a></li>
              <li><a href="sample.html">ミルクの作り方＆月齢ごとの量</a></li>
              <li><a href="sample.html">すくすくQ＆A<br>～授乳期編～</a></li>
            </ul>
          </li>
          <li>
            <a href="sample.html"><strong>離乳食情報</strong><span>lactation period</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">離乳食の進め方</a></li>
              <li><a href="sample.html">離乳食レシピ</a></li>
              <li><a href="sample.html">すくすくQ＆A<br>～離乳食編～</a></li>
            </ul>
          </li>
          <li>
            <a href="sample.html"><strong>会員情報</strong><span>Member information</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">会員情報<br>確認・変更</a></li>
            </ul>
          </li>
          <li>
            <a href="sample.html"><strong>お問い合わせ</strong><span>Contact</span></a>
            <ul class="sub-menu">
              <li><a href="sample.html">サポートセンター</a></li>
              <li><a href="sample.html">問い合わせQ＆A</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>

	<div id="wrapper">
		<div id="mainBanner">
    <%= image_tag "top_foto.jpg", class:"top-icon" %>
			<div class="slogan"><h1>ママ・パパのための総合情報サイト</h1>
		</div>
	</div>

<section class="gridWrapper">
  <article class="grid">
    <div class="box">
      <%= image_tag "list.png", class:"top-icon" %>
      <h3>食材チェックリスト</h3>
        <p>月齢ごとに食べてよい食材を確認してみましょう。</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
    </div>
  </article>
  <article class="grid">
    <div class="box">
      <%= image_tag "doyuga.png", class:"top-icon" %>
      <h3>動画で分かる離乳食の基本</h3>
        <p>はじめて離乳食を作るママ・パパへ！動画で「離乳食のきほん」がすぐにわかります。</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
    </div>
  </article>
  <article class="grid">
    <div class="box">
      <%= image_tag "ibwnto.png", class:"top-icon" %>
      <h3>イベント離乳食レシピ</h3>
        <p>お誕生日のお祝い事や季節の特別な離乳食レシピご紹介</p>
        <p class="readmore"><a href="sample.html">詳細を確認する</a></p>
    </div>
  </article>
</section>