<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="妊娠期・授乳期・離乳期に関する役立つ情報 - 妊娠期・授乳期・離乳期に関する役立つ情報を提供するサイトです">
    <title>FoodMeisterLabo/ママのための情報広場</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header id="header" role="banner">
      <div class="logo">
        <a href="index.html" title="" rel="home"><h1>Food Meister Labo</h1></a>
    </header>
    <%= yield %>
    <footer id="footer">
    <div class="inner">
      <div id="info" class="grid">
        <div class="logo">
          <a href="index.html" title="" rel="home">Food Meister Labo株式会社</a>
        </div>
        <div class="info">
          <p class="tel"><span>電話:</span> 012-3456-7890</p>
          <p class="open">受付時間: 平日 AM 10:00 〜 PM 5:00</p>
        </div>
      </div>
      <div class="menu">
        <ul class="footnav">
          <li><a href="sample.html">Food Meister Labo株式会社</a></li>
          <li><a href="sample.html">利用規約</a></li>
          <li><a href="sample.html">弊社の取り組み</a></li>
          <li><a href="sample.html">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <p id="copyright">Copyright(c) 2023 Food Meister Labo株式会社 </p>
    </footer>
  </body>
</html>
